.CreateAcct {
  width: 800px;
  max-width: 80vw;
  display: block;
  margin: auto;
}

.CreateAcct .FormGroup * {
  display: block;
}

.CreateAcct .FormGroup label {
  margin: 0.5em 0 0.25em 0;
}

.CreateAcct input.invalid {
  border: 2px solid red;
}